@model IEnumerable<Mvc1.Models.Comment>


@{
    ViewBag.Title = "Comment";
}

<p>
    @Html.ActionLink("Добавить новый комментарий", "CreateComment")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        
    <tr>
        <td>@item.Description</td>
        <td>@item.Date</td>
        <td>@item.UserProfile.UserName </td>

    </tr>
    }

</table>
